<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e42572cd-90a6-4e70-a662-cd72505c633e/resourcegroups/Recursos1/providers/Microsoft.Web/sites/SalePointApp</ResourceId>
    <ResourceGroup>Recursos1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://salepointapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>972771ef-15a8-4d14-80e9-0f8ff7c11f2b</ProjectGuid>
    <PublishUrl>https://salepointapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SalePointApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>